
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root {
    --container-color: #1a1e21;
    --secondcolor: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
}
::selection{
     color: var(--bg-color);
    background: var(--secondcolor);
}
a{
    text-decoration: none;
} 
li{
    list-style: none;
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
header.shadow{
    background: var(--bg-color);
    box-shadow:0 1px 4px hsl(0 4% 14% / 10%); 
    transition: 0.4s;

}
header.shadow .logo{
    color: var(--text-color)
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color)
}
.logo span{
    color: var(--secondcolor);
}
.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--secondcolor);
    color: var(--bg-color)
}
.login:hover{
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}
.home{
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-text {
  color: var(--bg-color);
  text-align: center;
}
.home-title{
    font-size: 3.5rem;
}
.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}
.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.active-filter{
    background: var(--secondcolor);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

/*Posts*/

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    justify-content: center;
    gap: 1.5rem;
}
.post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}
.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--secondcolor); 
}
.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    /*Per que el tiutol estigui en 2 linies*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;

}
.post-decription{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.profile-img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    border: 2px solid var(--secondcolor);
}
.profile-name{
    font-size: 0.82rem;
    font-weight: 500;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.footer p{
    font-size: 0.938rem;
}
/* Post Content*/
.post-header{
    width: 100%;
    height: 500px;
    background: var(--container-color);
}
.post-container{
    max-width: 800px;
    margin: auto;
    width: 100%;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}
.back-home{
    color: var(--secondcolor);
    font-size: 0.9rem;
}
.header-title{
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
}
.header-img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;

}
.post-content{
    margin-top:  10rem !important;
}
.sub-heading{
    font-size: 2rem;
}
.subsub-heading{
    font-size: 1.4rem;
}
.post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}
/*Barra del Menu*/
.conatiner-menu{
    width: 100%;
    height: 70px;
    background: #FF9F5E;
    position: fixed;
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav > ul> li{
    height: 100%;
     list-style: none;
     position: relative;

}
nav > ul> li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s ease;
}
nav > ul> li > a:hover{
    transform: scale(1.1);
    background: #FF9046;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#selected{
    transform: scale(1.1);
    background: #FF9046;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/**Sub-menu1**/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:befor{
    content: '';
    height: 0;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--container-color);
    position: absolute;
    top: -12px;
    left: 20px;
}
nav ul li ul li a{
    display: block;
    color: var(--text-color);
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background: #FF9046;
    color: #ffff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}